@import "/styles/variables.scss";

.container {
  // background-color: $primary;
  margin: 0 auto;
  padding: 9rem 5.3rem 15rem 5.3rem;
  // z-index: 9;
  // position: relative;

  @media only screen and (max-width: 767px) {
    padding: 6rem 1rem 15rem 1rem;
  }

  a {
    color: $primary;
    text-decoration: underline;
  }

  .f16,
  h2 {
    font-size: 1rem !important;
    u {
      font-size: 1rem !important;
    }
  }
  p {
    font-size: 1rem;
  }

  h1,
  h2,
  h3 {
    font-weight: 600;
    font-size: 1rem;
  }

  .pageTitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
