$primary: #006dbb;
$secondary: #ffd500;
$siteBackground: #ffffff;
$white: #ffffff;
$black: #000000;
$font-color1: #172d4d;
$grey: #ebeff2;

$defaulTextColor: #ffffff;
$lightBg: #000000;

$color-danger: #f66e6a;
$font-default: "TTNorms", serif;
$font-default-bold: "TTNormsBold", serif;
$font-default-medium: "TTNormsProMedium", serif;

$font-alternate: "PT Sans", serif;
$font-alternate2: "Avene";
$font-alternate3: "HaveHeart1";
$font-alternate4: "HaveHeart2";

$default-radius: 20px;

// Screen Resolution
$mobileResolution: 767px;
$tabResolution: 768px;
$ipadProResolution: 1024px;

$mediumScreenResolution: 1440px;
$largeScreenResolution: 1920px;
